* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* ================= HEADER ================= */
header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
}

header h1 {
    font-size: 2.8rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* ================= NAVBAR ================= */
nav {
    background-color: #020617;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: #93c5fd;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

/* ================= HERO SECTION ================= */
.hero {
    text-align: center;
    padding: 60px 20px;
}

.profile-pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    border: 4px solid #3b82f6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    background-color: #0f172a;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero p {
    max-width: 600px;
    margin: auto;
    color: #cbd5f5;
}

.hero-links {
    margin-top: 20px;
}

.hero-links a {
    margin: 0 10px;
    padding: 8px 16px;
    border: 1px solid #3b82f6;
    border-radius: 20px;
    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
}

.hero-links a:hover {
    background-color: #3b82f6;
    color: #ffffff;
}

/* ================= SECTIONS ================= */
section {
    padding: 60px 12%;
}

section h2 {
    color: #60a5fa;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* ================= SKILLS ================= */
ul li {
    margin-bottom: 10px;
}

/* ================= PROJECTS ================= */
.project {
    background-color: #020617;
    padding: 20px;
    border-left: 4px solid #3b82f6;
    margin-bottom: 20px;
    border-radius: 6px;
}

/* ================= CONTACT ================= */
#contact p {
    margin-bottom: 10px;
}

/* ================= RESUME BUTTON ================= */
a.download {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

a.download:hover {
    background-color: #1e40af;
}

/* ================= FOOTER ================= */
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
    color: #9ca3af;
}
/* NAVBAR ACTIVE LINK */
nav a.active {
    color: #ffffff;
    border-bottom: 2px solid #3b82f6;
    padding-bottom: 5px;
}
/* ===== SCROLL ANIMATION ===== */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}



